@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --clr-primary: #FAF7F0;
    --clr-secondary: #CDFCF6;
    --clr-tertiary: #BCCEF8;
    --clr-accent: #6a5eeb;
    --primary-color: #007AF3;
    max-width: 100vw;

    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Poppins', sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p
{
  margin: 0;
}

ul,
ol {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

img{
  max-width: 100%;
  display: block;
}


input,
button,
textarea,
select {
  font: inherit;
}

/* For those who dont prefer motion */
@media (prefers-reduced-motion: reduce) {
  html {
   scroll-behavior: auto;
}
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/* --------------------NAVBAR CSS-------------------------- */


body {
  background: #F2F2F2;
  margin: 0;
  font-family: "Poppins";
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-align: start;
}

.navbar {
    position: absolute;
    right: 0;
    width: 100vw;
  background: white;
  padding: 1em ;
}
.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin-left: 1em;
  font-size: 1.2em;
}
.navbar nav {
  display: none;
}
.navbar .container {
  display: flex;
  place-content: space-between;
}
.navbar .mobile-menu {
  cursor: pointer;
}

nav.menu-btn {
    display: block;
  }
  
  nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;
  }
  nav ul.primary-nav {
    margin-top: 5em;
  }
  nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5em;
    font-size: 1.3em;
    text-align: right;
  }
  nav li a:hover {
    font-weight: bold;
  }
  
  .mobile-menu-exit {
    float: right;
    margin: 0.5em;
    cursor: pointer;
  }
  
  @media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit {
      display: none;
    }
    .navbar .container {
      display: grid;
      grid-template-columns: 180px auto;
      justify-content: unset;
    }
    .navbar nav {
      display: flex;
      justify-content: space-between;
      background: none;
      position: unset;
      height: auto;
      width: 100%;
      padding: 0;
    }
    .navbar nav ul {
      display: flex;
    }
    .navbar nav a {
      color: black;
      font-size: 1em;
      padding: 0.1em 1em;
    }
    .navbar nav ul.primary-nav {
      margin: 0;
    }
    .navbar nav li.current a {
      font-weight: bold;
    }
    .navbar nav li.test-cta a {
      color: var(--primary-color);
      border: 3px solid var(--primary-color);
      font-weight: bold;
      border-radius: 5em;
      margin-top: -0.2em;
    }
    .navbar nav li.test-premium-cta a:hover {
      background: var(--primary-color);
      color: white;
    }
  }

a {
  color: #444444;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
    text-decoration: none;
  }
  .navbar nav li.test-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
  }
  .navbar nav li.test-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
}

/* -- ------------------------ MAIN ------------------------------*/
.main-section {
    height: 100vh;
    width: 100%;
     background-color: transparent;
     background-image: url("./images/charles-deloye-2RouMSg9Rnw-unsplash.jpg");
    background-size: cover;

  }
.main-cta {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    text-align: center;
    margin: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-cta h1 {
    display: flex;
    font-size: 4rem;
    text-align: center;
    color: var(--clr-primary);
    text-shadow: 2px 2px #ccc;
}

@media only screen and (max-width: 400px) {
  .main-cta h1{
    font-size: 3rem;
  }
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;
}

.btn {
    padding: .50rem .75rem;
    background-color: var(--clr-accent);
    max-width: 120px;
    color: var(--clr-primary);
    text-align: center;
    border-radius: 1rem;
}

.btn a {
  color: var(--clr-primary);
}

.btn:hover{
  cursor: pointer;
}

/* -------------------- Features --------------------*/
.features-section {
    display: flex;
    flex-direction: column;
    height: 70vh;
    text-align: center;
    justify-content: center;
    gap: 2rem;


}
  
.features-section .container {
    display: flex;
    flex-direction: row;
    gap:3rem;
    margin: 0 3rem;
}

.features-section .container .item {
    background: var(--clr-accent);
    padding: 2rem;
    max-height: 25rem;
    max-width: 80vw;
    margin: 0 auto;
    text-align: left;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 2px 4px 5px rgba(216, 216, 216, 0.71);
    color: var(--clr-primary);
}

.item h3{
    text-align: center;
}

.item p{
  color: rgb(224, 224, 224);
}

@media only screen and (max-width: 1000px) {
    .features-section .container {
      flex-direction: column;
    }
}


/* -------------------Contact -----------------------*/

.contact-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;

}

.col-lt{
  height: 100vh;
  background-image: url(/images/green-chameleon-s9CC2SKySJM-unsplash.jpg);
  background-size: cover;
  background-clip: content-box;
  background-position: center;
}

.col-rt {
  flex: .5;
  text-align: left;
  background-color: var(--clr-accent);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: #cbcbcb solid 1px;
}

.contact-txt {
  text-align: left;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
input {
  border-radius: .5rem;
  /* border: 1px solid rgba(0, 0, 0, 0.63); */
  border: none;
  padding: 5px;
  margin-bottom: 1rem;
  width: 35vw;
}

label {
  font-family: var(--ff-primary);
  margin-bottom: 1rem;
  color: var(--clr-primary);
}
textarea {
  max-width: 40vw;
  border-radius: .5rem;
  width: 35vw;
  resize: none;
} 

/* ----------------------ABOUT US---------------------- */
.about-us-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8282f5;
  padding: 5rem;
  scroll-snap-align: start;
  height: 50vh;
  color: #fff;
}
.about-us-section h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.about-us-section .about-us-txt {
  text-align: center;
  font-size: 2rem;
}

@media only screen and (max-width: 1000px) {
  .contact-section .col-lt {
    display: none;
  }
  .contact-section .col-rt {
    flex: auto;
    width: 100vw;
  }
  input {
    width: 80vw;
  }
  textarea {
    max-width: none;
    width: 80vw;
  } 
}

/* ------------------FOOTER ----------------*/

.footer{
  display: flex;
  position: relative;
  bottom: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  text-align: center;
  background-color: var(--clr-accent);
  color: var(--clr-primary);
}